// @import url("../../../../node_modules/@syncfusion/ej2-base/styles/material.css");
// @import url("../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css");
// @import url("../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css");
// @import url("../../../../node_modules/@syncfusion/ej2-popups/styles/material.css");
// @import url("../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css");
// @import url("../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css");
// @import url("../../../../node_modules/@syncfusion/ej2-image-editor/styles/material.css");
#wrapperDiv{
    height: 100%;
    color: black;
    #ej2-image-editor_0_lowerCanvas{
        display: block;
    }
    .e-material-slider{
        margin: 0 auto;
    }
    #ej2-image-editor_0_contextualToolbarArea{
        display: flex;
        justify-content: center;
    }
}
