@font-face {
    font-family:'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraLight.ttf') format("opentype");
}

.appbar-wr {
    background: rgb(39, 38, 38) !important;
    font-family: 'Poppins-Light';
    .appbar-nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }
}